body {
  width: 100%;
  height: 1200px;
  background-image: linear-gradient(to top, #ff2e63, #252a34);
}

.box {
  height: 965px;
  background-color: #e24647;
  box-shadow: 0 0 39px 0 rgba(50, 50, 50, 0.36);
  margin: 118px 115px 117px 116px;
}

header {
  background-color: #e24647;
}

h1, a {
  color: #fff;
}

h1 {
  display: inline-block;
  margin-left: 62px;
  margin-top: 55px;
  font-size: 40px;
  font-family: Arial, 'Roboto', Helvetica, sans-serif;
}

nav {
  margin-top: 55px;
  float: right;
  font-size: 21px;
  font-family: 'Segoe UI', 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

a { 
  text-decoration: none;
  margin-right: 60px;
}

.wrap-bottons {
  position: relative;
  float: right;
  top: 750px;
}

.add {
  height: 60px;
  width: 200px;
  background-color: rgba(37, 44, 65, 0);
  border: solid 2px #fff;
  color: #fff;
  font-family: Arial, 'Roboto', Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 40px;
}

.comprar {
  height: 60px;
  width: 200px;
  background-color: #252c41;
  border: solid 2px #252c41;
  color: #fff;
  font-family: Arial, 'Roboto', Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 50px;

}